<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Contos do Undead</title>
</head>
<body>

    <header style="text-align: center;">
        <h1>Contos do Undead</h1>
        
        <nav class="navbar">
            <ul>
                <li><a href="http://127.0.0.1:8080/BlackAndWhite/create">create</a></li>
                <li><a href="http://127.0.0.1:8080/BlackAndWhite/delete">delete</a></li>
            </ul>
        </nav>

    </header>

    <h1>Homepage</h1>

</body>
</html>